In [1]:
from f3dasm.src.designofexperiments import DoE
from f3dasm.src.space import ContinuousSpace, DiscreteSpace, CategoricalSpace
from f3dasm.sampling.latinhypercube import LatinHypercube
from f3dasm.sampling.randomuniform import RandomUniform
from f3dasm.sampling.sobolsequence import SobolSequencing
from f3dasm.src.data import Data


from f3dasm.simulation.benchmark_functions import Levy
import pandas as pd
import numpy as np

In [2]:
seed = 42

# Define the parameters
x1 = ContinuousSpace(name="x1", lower_bound=2.4, upper_bound=10.3)
#x2 = DiscreteSpace(name="x2", lower_bound=5, upper_bound=80)
x3 = ContinuousSpace(name="x3", lower_bound=10.0, upper_bound=380.3)
#x4 = CategoricalSpace(name="x4", categories=["test1", "test2", "test3"])
#x5 = ContinuousSpace(name="x5", lower_bound=0.6, upper_bound=7.3)

y = ContinuousSpace(name="y")

# Create the design space
input_space = [x1, x3]
output_space = [y]
design = DoE(input_space=input_space, output_space=output_space)

# Construct sampler
random_uniform = RandomUniform(doe=design, seed=seed)

numsamples = 5

samples = random_uniform.get_samples(numsamples=numsamples)
samples

      input
         x1          x3
0  5.358867  362.049508
1  8.182752  231.683237
2  3.632547   67.764771
3  2.858861  330.745027
4  7.148809  272.199276

In [3]:
data = Data(doe=design)
data.data

Empty DataFrame
Columns: [(input, x1), (input, x3), (output, y)]
Index: []

In [4]:
data.add(samples)
data.data

/home/martin/Documents/GitHub/testthings/f3dasm/src/data.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  self.data = self.data.append(data)

      input             output
         x1          x3      y
0  5.358867  362.049508    NaN
1  8.182752  231.683237    NaN
2  3.632547   67.764771    NaN
3  2.858861  330.745027    NaN
4  7.148809  272.199276    NaN

In [5]:
x = data.get_input_data().to_numpy()

In [6]:
l = Levy(seed=42)

In [7]:
y = l.eval(x)
y

array([[16257.59639794],
       [ 5901.71829809],
       [  522.08511841],
       [ 7830.84044055],
       [ 8765.63680612]])

In [9]:
data.data[('output','y')] = y

In [10]:
data.data

      input                    output
         x1          x3             y
0  5.358867  362.049508  16257.596398
1  8.182752  231.683237   5901.718298
2  3.632547   67.764771    522.085118
3  2.858861  330.745027   7830.840441
4  7.148809  272.199276   8765.636806