In [1]:
from f3dasm.src.designofexperiments import DoE
from f3dasm.src.space import ContinuousSpace, DiscreteSpace, CategoricalSpace
from f3dasm.sampling.latinhypercube import LatinHypercube
from f3dasm.sampling.randomuniform import RandomUniform
from f3dasm.sampling.sobolsequence import SobolSequencing
from f3dasm.src.data import Data

import pandas as pd
import numpy as np

In [12]:
seed = 42

# Define the parameters
x1 = ContinuousSpace(name="x1", lower_bound=2.4, upper_bound=10.3)
x2 = DiscreteSpace(name="x2", lower_bound=5, upper_bound=80)
x3 = ContinuousSpace(name="x3", lower_bound=10.0, upper_bound=380.3)
x4 = CategoricalSpace(name="x4", categories=["test1", "test2", "test3"])
x5 = ContinuousSpace(name="x5", lower_bound=0.6, upper_bound=7.3)

# Create the design space
space = [x1, x2, x3, x4, x5]
design = DoE(space)

# Construct sampler
random_uniform = RandomUniform(doe=design, seed=seed)

numsamples = 5

samples = random_uniform.get_samples(numsamples=numsamples)
samples

         x1          x3        x5  x2     x4
0  5.358867  362.049508  5.504359  25  test1
1  7.129402   67.773703  1.645163  37  test1
2  2.858861  330.745027  4.627471  80  test1
3  7.993773   17.622438  7.098396  62  test3
4  8.976297   88.629173  1.818227  26  test3

In [13]:
columns = [['input']*5,['x1','x3','x5','x2','x4']]

samples.columns=columns
samples

      input
         x1          x3        x5  x2     x4
0  5.358867  362.049508  5.504359  25  test1
1  7.129402   67.773703  1.645163  37  test1
2  2.858861  330.745027  4.627471  80  test1
3  7.993773   17.622438  7.098396  62  test3
4  8.976297   88.629173  1.818227  26  test3

In [14]:
samples.dtypes

input  x1     float64
       x3     float64
       x5     float64
       x2       int64
       x4    category
dtype: object

In [15]:
columns = [['input']*5,['x1','x2','x3','x4','x5']]
empty  = pd.DataFrame(columns=columns)
empty

Empty DataFrame
Columns: [(input, x1), (input, x2), (input, x3), (input, x4), (input, x5)]
Index: []

In [18]:
empty = empty.append(samples)

/tmp/ipykernel_46788/2617004051.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  empty = empty.append(samples)

In [19]:
empty

      input
         x1  x2          x3     x4        x5
0  5.358867  25  362.049508  test1  5.504359
1  7.129402  37   67.773703  test1  1.645163
2  2.858861  80  330.745027  test1  4.627471
3  7.993773  62   17.622438  test3  7.098396
4  8.976297  26   88.629173  test3  1.818227

In [20]:
empty.astype({('input','x1'): int})

  input
     x1  x2          x3     x4        x5
0     5  25  362.049508  test1  5.504359
1     7  37   67.773703  test1  1.645163
2     2  80  330.745027  test1  4.627471
3     7  62   17.622438  test3  7.098396
4     8  26   88.629173  test3  1.818227